{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <h1>Don't Worry. We Gotchu.</h1>
    </div>

    <div class="row">
        <h4>Please Enter Your Email Address</h4>
    </div>

    <form method="post" class="form-group">
        {% csrf_token %}
        <div class="row">
            {{ form.email }}
        </div>
        <div class="row">
            <input type="submit" class="btn btn-primary" value="Send Me the Magic Link!">
        </div>
    </form>

{% endblock %}
