{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <h1>Change Password</h1>
    </div>

    <div class="row">
        <h4>Enter a New Password:</h4>
    </div>

    <form method="post" class="form-group">
        {% csrf_token %}
        <div class="row">
            {{ form.as_p }}
        </div>
        <div class="row">
            <input type="submit" class="btn btn-primary" value="Confirm Password Reset">
        </div>
    </form>

{% endblock %}
